* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/Multilingual\ Hand.ttf") format("truetype");
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecebe6;
  font-family: "MyFont", "Noto Serif TC", serif;
  color: #666;
  font-weight: 700;
  font-size: 1.25rem;
}

a {
  position: relative;
  text-decoration: none;
  color: #666;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8.5px;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

header {
  position: absolute;
  top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 75rem;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #666;
}

nav {
  display: flex;
  gap: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-block: 1rem;
  border-top: 2px solid rgba(86, 71, 52, 0.2);
  width: 100%;
}

#hero {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#monthlyHightlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  position: relative;
}

#monthlyHightlight h2 {
  font-size: 2rem;
}

#monthlyHightlight .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

#monthlyHightlight .text {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
  font-weight: 600;
}

#monthlyHightlight .text p:nth-child(1) {
  background: #666;
  padding: 0.2rem 0.5em;
  color: white;
}

#monthlyHightlight img {
  width: 400px;
}

#monthlyHightlight .decoration {
  position: absolute;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  width: 300px;
}

.cookie {
  right: -18rem;
  top: 0;
  transform: rotate(-5deg);
  animation-name: floatCookie;
  animation-duration: 4s;
}

.tree {
  left: -20rem;
  bottom: 2rem;
  transform: rotate(15deg);
  animation-name: floatTree;
  animation-duration: 2s;
}

@keyframes floatCookie {
  0% {
    transform: translateY(0) rotate(-5deg);
  }
  50% {
    transform: translateY(-20px) rotate(-3deg) scale(1.1);
  }
  100% {
    transform: translateY(0) rotate(-5deg) scale(1);
  }
}

@keyframes floatTree {
  0% {
    transform: translateY(0) rotate(15deg);
  }
  50% {
    transform: translateY(-10px) rotate(16deg) scale(1.1);
  }
  100% {
    transform: translateY(0) rotate(15deg) scale(1);
  }
}

#subscribe {
  background-color: #564734;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 60%;
  margin: 0 auto;
  margin-block: 5rem;
  overflow: hidden;
}

#subscribe .left {
  flex: 40%;
}

#subscribe .right {
  flex: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 1rem;
  text-align: center;
  color: #fff;
}

#subscribe h3 {
  font-size: 2rem;
}

#subscribe p {
  font-size: 1rem;
  line-height: 1.5;
}

#subscribe form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#subscribe input {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  outline: none;
}

/* 手機 */
@media screen and (min-width: 320px) {
  header {
    font-size: 1rem;
  }

  nav {
    gap: 1rem;
  }

  #hero .horo_image_computer {
    display: none;
  }
  #hero .hero_image_tablet {
    display: block;
    width: 95%;
  }

  #monthlyHightlight .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #monthlyHightlight .text {
    text-align: center;
    font-size: 1rem;
    max-width: 320px;
  }

  #monthlyHightlight img {
    width: 320px;
  }

  #monthlyHightlight .decoration {
    display: none;
  }
}

footer p {
  font-size: 1rem;
}

/* 平板 */
@media screen and (min-width: 768px) {
  header {
    font-size: 1.25rem;
  }

  nav {
    gap: 2rem;
  }

  #hero .hero_image_tablet {
    width: 80%;
  }

  #monthlyHightlight .text {
    font-size: 1.25rem;
    max-width: 400px;
  }

  #monthlyHightlight img {
    width: 400px;
  }
}

/* 電腦 */
@media screen and (min-width: 1023px) {
  #hero .horo_image_computer {
    display: block;
  }
  #hero .hero_image_tablet {
    display: none;
  }

  #monthlyHightlight .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
  }

  #monthlyHightlight .text {
    text-align: left;
  }
}

@media screen and (min-width: 1439px) {
  #monthlyHightlight .decoration {
    display: block;
  }
}
