* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFont";
  src: url("../../fonts/Multilingual\ Hand.ttf") format("truetype");
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecebe6;
  font-family: "MyFont", "Noto Serif TC", serif;
  color: #666;
  font-weight: 700;
  font-size: 1.25rem;
}

a {
  position: relative;
  text-decoration: none;
  color: #666;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8.5px;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

header {
  position: absolute;
  top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 75rem;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #666;
}

nav {
  display: flex;
  gap: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-block: 1rem;
  border-top: 2px solid rgba(86, 71, 52, 0.2);
  width: 100%;
}

#hero {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero img {
  width: 75%;
}

#hero .hero_image_tablet {
  display: none;
}

main {
  width: 100%;
}

.skill_slider {
  width: 100%;
}

.skill_slider ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0.5rem;
  margin-block: 2rem;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  overflow: hidden;
}

#profile {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  position: relative;
}

#profile::after {
  content: " ";
  width: 60%;
  height: 2px;
  background: #666;
  position: absolute;
  bottom: 0;
}

#profile .profileImg {
  text-align: center;
  width: 40%;
  max-width: 60rem;
}

#profile .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
  line-height: 2;
  font-weight: 600;
  font-size: 1rem;
}

#profile mark {
  background-color: #000;
  color: #fff;
  padding: 0.3rem 0.5rem;
  margin-inline: 0.5rem;
}

.domain_skill h3 {
  margin-bottom: 0.5rem;
}

.domain_skill li {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 10px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3rem;
}

#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  padding-block: 2rem;
}

#experience h2 {
  margin-bottom: 1rem;
}

#experience .timeline {
  width: 100%;
  display: flex;
  justify-content: center;
}

#experience .line {
  width: 1.6px;
  min-height: 100vh;
  background-color: #564734;
  position: relative;
}

#experience .incident {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#experience .incident.left .text {
  position: absolute;
  left: -500px;
  max-width: 460px;
  text-align: right;
}

#experience .incident.right .text {
  position: absolute;
  left: 65px;
  min-width: 400px;
  max-width: 450px;
}

#experience .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: -12.5px;
  top: 45px;
}

#experience .circle.filled {
  background-color: #564734;
}

#experience .circle.hollow {
  width: 27.5px;
  height: 27.5px;
  background-color: #fff;
  border: 5px solid #564734;
}

#experience .year {
  margin-bottom: 1rem;
}

#experience ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}

#experience .underline {
  text-decoration: underline;
  display: inline-block;
  margin-inline: 0.5rem;
}

#skill {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#skill .skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
  row-gap: 3rem;
}

#skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #564734;
}

#skill ul {
  position: relative;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer p {
  font-size: 1rem;
}

/* 手機 */
@media screen and (min-width: 320px) {
  header {
    font-size: 1rem;
  }

  nav {
    gap: 1rem;
  }

  #hero {
    height: 600px;
  }

  #hero img {
    width: 95%;
  }

  #hero .horo_image_computer {
    display: none;
  }
  #hero .hero_image_tablet {
    display: block;
  }

  .skill_slider {
    font-size: 1rem;
    text-align: left;
  }

  .skill_slider ul {
    gap: 3rem;
  }

  #profile {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  #profile::after {
    bottom: -2rem;
  }

  #profile .profileImg {
    width: 95%;
  }

  #profile .content {
    padding-inline: 1.5rem;
  }

  #experience .timeline {
    display: none;
  }

  #experience .cards,
  #experience .cards .card {
    display: flex;
    flex-direction: column;
  }

  #experience .cards {
    gap: 3rem;
  }

  #experience .cards .card h2 {
    text-align: center;
  }

  #experience .cards .card ul {
    width: 80%;
    margin: 0 auto;
  }

  #skill {
    padding-block: 2rem;
  }

  #skill .skill-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .skill-grid ul {
    font-size: 1rem;
  }

  footer p {
    font-size: 1rem;
  }
}

/* 平板 */
@media screen and (min-width: 768px) {
  header {
    font-size: 1.25rem;
  }

  nav {
    gap: 2rem;
  }

  #hero {
    height: 800px;
  }

  #hero img {
    width: 70%;
  }

  .skill_slider {
    font-size: 1.25rem;
    text-align: center;
  }

  #profile .profileImg {
    width: 75%;
  }

  #profile .content {
    padding-inline: 0;
  }

  #experience .incident.left .text {
    left: -300px;
    max-width: 250px;
  }

  #experience .incident.right .text {
    min-width: 300px;
    max-width: 380px;
  }

  #experience .timeline {
    display: flex;
  }

  #experience .cards {
    display: none;
  }

  #skill .skill-grid {
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 3rem;
  }
}

/* 電腦 */
@media screen and (min-width: 1023px) {
  #hero img {
    width: 80%;
  }

  #hero .horo_image_computer {
    display: block;
  }

  #hero .horo_image_tablet {
    display: none;
  }

  #profile {
    flex-direction: row;
  }

  #profile .profileImg {
    width: 40%;
  }

  #experience .incident.left .text {
    left: -450px;
    max-width: 400px;
  }

  #experience .incident.right .text {
    min-width: 400px;
    max-width: 450px;
  }
}

@media screen and (min-width: 1439px) {
  #hero img {
    width: 75%;
  }
  #profile::after {
    bottom: 0rem;
  }

  #experience .incident.left .text {
    left: -500px;
    max-width: 460px;
  }

  #skill .skill-grid {
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    row-gap: 3rem;
  }
}
