* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFont";
  src: url("../../fonts/Multilingual\ Hand.ttf") format("truetype");
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "MyFont", "Noto Serif TC", serif;
  color: #666;
  font-weight: 700;
  font-size: 1.25rem;
}

a {
  position: relative;
  text-decoration: none;
  color: #666;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8.5px;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

header {
  position: absolute;
  top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 75rem;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #666;
}

nav {
  display: flex;
  gap: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-block: 1rem;
  border-top: 2px solid rgba(86, 71, 52, 0.2);
  width: 100%;
}

#hero {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  font-family: "Noto Serif TC", serif;
}

#hero .container {
  width: 1000px;
  height: 500px;
  background-image: url("../../images/work-cover.png");
  background-size: cover;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-family: "Noto Serif TC", serif;
  margin-bottom: 6rem;
}

.design {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail {
  width: 40%;
  text-align: right;
  font-size: 1rem;
}

.detail span {
  text-decoration: underline;
}

iframe {
  width: 560px;
  height: 315px;
}

.rhino,
.cloth,
.character,
.laser {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.postcard,
.calander {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.rhino h3,
.cloth h3,
.postcard h3,
.character h3,
.calander h3,
.spirit-trace h3,
.graphic h3,
.website h3,
.laser h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.rhino .images {
  display: flex;
  gap: 3rem;
}

.rhino .images > img,
.cloth .images > img {
  width: 400px;
}

.rhino .set {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rhino .upper {
  width: 300px;
  height: 200px;
}

.rhino .upper img {
  width: 100%;
}

.rhino .lower {
  width: 300px;
  height: 84px;
  background: #5c8bc9;
}

.rhino small,
.cloth small {
  align-self: flex-end;
  font-size: 1rem;
}

.cloth .images {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}

.postcard .images {
  display: flex;
  gap: 3rem;
}

.postcard .images img,
.calander .images img {
  width: 100%;
}

.postcard h1 {
  writing-mode: vertical-rl;
}

.character .image {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.character p {
  font-size: 1rem;
}

.calander .images.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calander .images.top div:nth-child(1) {
  flex: 1;
  max-width: 550px;
  height: 425px;
}

.calander .images.top div:nth-child(1) img {
  height: 100%;
}

.calander .images.top div:nth-child(2) {
  width: 300px;
}

.colorPalete {
  width: 10px;
  height: 425px;
  background: linear-gradient(#f7e8de, #89c5d2);
}

.calander .detail {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.calander .images.bottom {
  width: 1000px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.calander .images.bottom div {
  width: 200px;
}

.calander .images.bottom div img {
  width: 100%;
}

.calander .images.bottom div:nth-child(2),
.calander .images.bottom div:nth-child(4) {
  position: relative;
  top: 5rem;
}

.spirit-trace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.spirit-trace .detail,
.room .detail,
.shooting .detail,
.website .detail,
.laser .detail {
  width: 60%;
  text-align: center;
  margin: auto;
}

.spirit-trace .subtitle {
  align-self: center;
}

.spirit-trace .soundtracks {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}

.spirit-trace .track {
  display: flex;
  gap: 1rem;
}

.spirit-trace .track h3 {
  min-width: 250px;
}

.room,
.shooting,
.website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.website a {
  display: block;
  text-align: center;
}

.laser .images {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.laser .images img {
  width: 280px;
}

.laser .images.cards {
  margin-bottom: 100px;
}

.laser .images.cards img:nth-child(2),
.laser .images.cards img:nth-child(4) {
  position: relative;
  top: 140px;
}

.weblink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.weblink a {
  width: 80px !important;
}

/* 手機 */
@media screen and (min-width: 320px) {
  #hero {
    height: 500px;
  }
  #hero .container {
    width: 320px;
    height: 160px;
  }

  #hero p {
    font-size: 1rem;
  }

  header {
    font-size: 1rem;
  }

  .character .image {
    flex-direction: column;
  }

  .character .image img {
    width: 320px;
  }

  nav {
    gap: 1rem;
  }

  .postcard .images {
    flex-direction: column;
    align-items: center;
  }

  .postcard .images div {
    width: 300px;
  }

  .postcard h1 {
    writing-mode: horizontal-tb;
  }

  .content {
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .detail {
    font-size: 0.75rem;
    text-align: left;
    width: 100%;
  }

  .cloth .images img {
    width: 300px;
  }

  .cloth .images {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
  }

  .cloth .images small,
  .rhino .images small {
    align-self: center;
    text-align: center;
  }

  .rhino .images {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .rhino .images > img {
    width: 300px;
  }

  .calander .images.top {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .calander .images.top div:nth-child(1) {
    width: 300px;
  }

  .calander .images.top div:nth-child(2) {
    width: 300px;
  }

  .colorPalete {
    width: 300px;
    height: 10px;
    background: linear-gradient(90deg, #f7e8de, #89c5d2);
  }

  .calander .detail {
    width: 90%;
  }

  .calander .images.bottom {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    width: 300px;
  }

  .calander .images.bottom div:nth-child(2),
  .calander .images.bottom div:nth-child(4) {
    position: static;
  }

  footer p {
    font-size: 1rem;
  }

  iframe {
    width: 300px;
    height: 250px;
  }

  .spirit-trace .detail,
  .room .detail,
  .shooting .detail,
  .website .detail {
    width: 90%;
  }

  .spirit-trace .track {
    flex-direction: column;
  }

  .website a {
    font-size: 1rem;
  }

  .laser .images {
    flex-direction: column;
  }

  .laser .detail {
    width: 100%;
  }

  .laser .images.cards {
    margin: 0;
    gap: 0;
  }

  .laser .images.cards img:nth-child(2),
  .laser .images.cards img:nth-child(4) {
    top: 0;
  }
}

/* 平板 */
@media screen and (min-width: 768px) {
  header {
    font-size: 1.25rem;
  }

  nav {
    gap: 2rem;
  }

  #hero {
    height: 600px;
  }

  #hero .container {
    width: 600px;
    height: 300px;
  }

  #hero p {
    font-size: 1.25rem;
  }

  .character .image {
    flex-direction: row;
  }

  .character .image img {
    width: 400px;
  }

  .detail {
    font-size: 1rem;
  }

  .cloth .images img {
    width: 450px;
  }

  .rhino .images > img {
    width: 450px;
  }

  .rhino .upper {
    width: 450px;
    height: 300px;
  }

  .rhino .lower {
    width: 450px;
    height: 84px;
    background: #5c8bc9;
  }

  .calander .images.top div:nth-child(1) {
    width: 450px;
  }

  .calander .images.top div:nth-child(2) {
    width: 450px;
  }

  .colorPalete {
    width: 450px;
    height: 10px;
    background: linear-gradient(90deg, #f7e8de, #89c5d2);
  }

  .calander .detail {
    width: 75%;
  }

  .calander .images.bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 600px;
  }

  iframe {
    width: 560px;
    height: 315px;
  }

  .spirit-trace .detail,
  .room .detail,
  .shooting .detail,
  .website .detail {
    width: 75%;
  }

  .spirit-trace .track {
    flex-direction: row;
  }

  .website a {
    font-size: 1.25rem;
  }

  .laser .images img {
    width: 400px;
  }

  .laser .detail {
    width: 80%;
  }
}

/* 電腦 */
@media screen and (min-width: 1023px) {
  #hero {
    height: 700px;
  }
  #hero .container {
    width: 800px;
    height: 400px;
  }

  .postcard .images {
    flex-direction: row;
  }

  .postcard .images div:nth-child(1) {
    width: 350px;
  }

  .postcard .images div:nth-child(2) {
    width: 280px;
  }

  .postcard .images div:nth-child(3) {
    width: 200px;
  }

  .postcard h1 {
    writing-mode: vertical-rl;
  }

  .content {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .detail {
    font-size: 1rem;
    text-align: right;
    width: 40%;
  }

  .cloth .images {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
  }

  .cloth .images small {
    align-self: flex-end;
    text-align: right;
  }

  .calander .images.top {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .calander .images.top div:nth-child(1) {
    flex: 1;
    max-width: 550px;
    height: 425px;
  }

  .calander .images.top div:nth-child(1) img {
    height: 100%;
  }

  .calander .images.top div:nth-child(2) {
    width: 300px;
  }

  .colorPalete {
    width: 10px;
    height: 425px;
    background: linear-gradient(#f7e8de, #89c5d2);
  }

  .calander .detail {
    width: 100%;
  }

  .calander .images.bottom {
    width: 750px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .spirit-trace .detail,
  .room .detail,
  .shooting .detail,
  .website .detail {
    width: 60%;
  }

  .laser .detail {
    width: 60%;
  }

  .laser .images {
    flex-direction: row;
  }

  .laser .images img {
    width: 280px;
  }

  .laser .images.cards {
    margin-bottom: 100px;
  }

  .laser .images.cards img {
    width: 250px;
  }

  .laser .images.cards img:nth-child(2),
  .laser .images.cards img:nth-child(4) {
    top: 140px;
  }
}

@media screen and (min-width: 1439px) {
  .rhino .images {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  .rhino .images > img {
    width: 400px;
  }
  .rhino .upper {
    width: 300px;
    height: 200px;
  }

  .rhino .lower {
    width: 300px;
    height: 84px;
  }

  .rhino .images small {
    align-self: flex-end;
    text-align: right;
  }

  .calander .images.bottom {
    width: 1000px;
  }

  .laser .images.cards img {
    width: 280px;
  }
}
